<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="PruebaConectar.Properties.Settings.Valor" connectionString="Data Source=s2x4.database.windows.net;Initial Catalog=s2x4;User ID=s2x4;Password=123456aA"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>